@page "/counter"
@inject PaginaActual paginaActual
@inject PaginasAbiertas paginasAbiertas

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @paginasAbiertas.Estado[NumeroDePagina]["currentCount"]</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int NumeroDePagina { get; set; }


    private void IncrementCount()
    {
        paginasAbiertas.Estado[NumeroDePagina]["currentCount"] = Convert.ToInt32(paginasAbiertas.Estado[NumeroDePagina]["currentCount"]) + 1;
    }
    
}
