@page "/Home"
@inject PaginaActual paginaActual
@inject PaginasAbiertas paginasAbiertas

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p role="status">Current count: @paginasAbiertas.Estado[NumeroDePagina]["currentCount"]</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    [Parameter]
    public int NumeroDePagina { get; set; }


    private void IncrementCount()
    {
        paginasAbiertas.Estado[NumeroDePagina]["currentCount"] = Convert.ToInt32(paginasAbiertas.Estado[NumeroDePagina]["currentCount"]) + 1;
    }
	
}
