/*Mi css_______________________________________*/
.rc-header {
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.rc-resizercontent {
    width: 7px;
    background-color: #FFD700;
}

.rc-resizercontent:hover {
    cursor: col-resize;
}

.rc-pestana {
    width: 200px;
    text-decoration: none;
    color: #000000;
    background-color: #FFD700;
    padding: 4px;
    font-size: 16px;
    border-radius: 4px 4px 0% 0%;
    margin-right: 3px;
    text-align: center;
}
/*_____________________________________________*/
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    /*border-right: solid #FFD700;*/
}

.top-row {       
    height: 2.13rem;        
    border-bottom: solid 2px #FFD700;
    display: grid;    
    grid-auto-flow: column;    
    grid-auto-columns: max-content;
}
    

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
    
}
