@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject PaginaActual paginaActual

<div class ="rc-header"> 
        <img class="rc-logo" src="images/ComerciaGoldLogo.PNG" alt="Logo"/>
        <div class="rc-user">
            Efrain Girón Romero
            <button type="button" class="btn btn-secondary btn-sm">Cerrar Sesión</button>
        </div>
</div>

<div class="page">       
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div id="resizer" class="rc-resizercontent"></div> <!--onclick="Resize"-->
    <main>
        <div class="top-row">                                    
            @if (paginaActual.NombrePaginaActual != null)
            {
                <a class="rc-pestana" href="@paginaActual.NombrePaginaActual" target="_blank">@paginaActual.NombrePaginaActual</a>
            }
        </div>

        <article class="content px-4">
            <DynamicComponent Type="paginaActual.TypePaginaActual"/>
        </article>
    </main>
</div>

@code {    
    protected override void OnInitialized()
    {                
        // if the OnChange event is raised, refresh this view
        paginaActual.OnChange += () => StateHasChanged();
        

        base.OnInitialized();
    }
}