@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class ="rc-header"> 
        <img class="rc-logo" src="images/ComerciaGoldLogo.PNG" alt="Logo"/>
        <div class="rc-user">
            Efrain Girón Romero
            <button type="button" class="btn btn-secondary btn-sm">Cerrar Sesión</button>
        </div>
</div>

<div class="page">       
    <div class="sidebar">
        <NavMenu />
    </div>
    <div id="resizer" class="rc-resizercontent" @onclick="Resize"></div>
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div>
    <p>@left</p>
    <p>@top</p>
</div>

@code {
    public int left = 0;
    public int top = 0;

    private async Task Resize() {
        await JsRuntime.InvokeVoidAsync("alert", "Click en el resizer.");        
        left = await JsRuntime.InvokeAsync<int>("getResizerLeft");
        top = await JsRuntime.InvokeAsync<int>("getResizerTop");
    }
}