@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class ="rc-header"> 
        <img class="rc-logo" src="images/ComerciaGoldLogo.PNG" alt="Logo"/>
        <div class="rc-user">
            Efrain Girón Romero
            <button type="button" class="btn btn-secondary btn-sm">Cerrar Sesión</button>
        </div>
</div>

<div class="page">       
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="rc-resizercontent" @onclick="Resize"></div>
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private async Task Resize() {
        await JsRuntime.InvokeVoidAsync("alert", "Click en el resizer.");
    }
}