.rc-serchnav {
    height: 2rem;
}

.rc-folder {
    cursor: pointer;
}

.rc-folder .oi-plus {
    font-size: 0.5rem;
    border: solid 1px #000000;
    width: 0.6rem;
    height: 0.6rem;
}

.rc-document {
    padding-left: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.rc-document .io-plus {
    float: right;
}


.navbar-nav {
    font-size: 14px;
}

*, ::after, ::before {
    color: #000000;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 7rem;    
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 1rem;
    font-size: 0.7rem;
    vertical-align: text-top;
    
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;    
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #000000;
        border-radius: 4px;
        height: 1rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);    
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);    
}



